<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/send_url.js"></script>
</head>
<body>
    <header>
        <div class="header-nav">
            <a href="/">BLOG</a>
        </div>
    </header>
</body>
</html>